<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sing up</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
	{% if messages %}
			{% for message in messages %}
				{% if message.tags %}
					{{ message }}
				{% endif %}
  		  	{% endfor %}
	{% endif %}
<h2>Войти/зарегистрироваться</h2>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form method="post">
			{% csrf_token %}
			<h1>Войти</h1>
			<span>Используйте свою учетную запись</span>
			<input type="text" name="username" placeholder="Имя" required="">
			<input type="password" name="pass"  placeholder="Пароль" required="">
			<button type="submit">Войти</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Привет, приятель.!</h1>
				<p>Введите свои персональные данные и начните путешествие с нами</p>
				<a href="{% url 'sign' %}" ><button class="ghost" id="signUp">Регистрация</button></a>
			</div>
		</div>
	</div>
</div>
</body>
</html>